/* Countdown-bar General */
div.countdown-bar {
    width: 0;
    height: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(233, 8, 8);
    background-color: rgba(189, 184, 184, 0.788);
}

/* Loader */
div.countdown-bar div:nth-of-type(1) {    
    width: 0; 
    height: 100%
}

/* Timer */
div.countdown-bar div:nth-of-type(2) {    
    width: 100%; 
    height: 100%
}