.syotimer{
    text-align: center;
    
}
.syotimer-cell{
    display: inline-block;
}
.syotimer-cell__value{
    font-size: 14px;
    color: #80a3ca;
    font-weight: 700;
   
}
.syotimer-cell__unit{
    font-family: Arial, serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin:0.3rem;
}